<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Starter Spring-Boot-Web</title>
</head>
<body>
    <h1>Starter Spring-Boot-Web</h1>
    <p th:text="message"></p>
</body>
</html>